<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Query Request</title>
  </head>
  <body>
    <h1>Query Request</h1>
    <form action="" method="POST"> 
      <div>
        <label for="input_specification">input specification</label>
        <input type="text" id="input_specification" name="input_specification" />
      </div>
      <div>
        <label for="operation_specification">operation specification</label>
        <input type="text" id="operation_specification" name="operation_specification" />
      </div>
      <div>
        <label for="output_specification">output specification</label>
        <input type="text" id="output_specification" name="output_specification" />
      </div>
      <div>
        <label for="operation_options">operation options</label>
        <input type="text" id="operation_options" name="operation_options" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
